<!--Insertamos un formulario de boostrap para realizar la carga de los datos--> 
<form method="post" action="/store" enctype="multipart/form-data"><!--en "method" enviamos los datos a travez del metodo POSTO y en action redireccionamos de la vista al ruta del controlador que procesa y guarda los datos que se ingresan--->
   
    Nombre:
    <input type="text" name="txtNombre" id="txtNombre">
    <br>

    Correo:
    <input type="text" name="txtCorreo" id="txtCorreo">
    <br>

    Foto:
    <input type="file" name="txtFoto" id="txtFoto">
    <br>

    <input type="submit" value="Agregar">

</form>